interfaces {
{% for item in host.interfaces %}
    {{ item.name }} {
        description "{{ item.description }}";
        unit 0 {
            family inet {
                address {{ item.ipv4_address }};
            }
            family inet6 {
                address {{ item.ipv6_address }};
            }
            {% if item.name  == 'lo0' -%}
            family iso {
                address {{ item.iso_address}};
            }
            {% elif item.name  != 'lo0' -%}
            family mpls {
            }
{% endif %}
        }
    }
{% endfor %}
}
protocol 
    isis {
{% for item in host.isis_intf  %}
        interface {{ item.name }} {
        {% if item.level  == '1' -%}
            level 2 disable;
        {% elif item.level == '2' -%}
            level 1 disable;
        {% endif %}
}
{% endfor %}
    }
}